In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
import re
from sklearn.model_selection import train_test_split

In [25]:
data = pd.read_csv('data/trainset.csv')
data.head()

                                            Sentence Sentiment
0  According to the Finnish-Russian Chamber of Co...   neutral
1  The Swedish buyout firm has sold its remaining...   neutral
2    $SPY wouldn't be surprised to see a green close  positive
3  Shell's $70 Billion BG Deal Meets Shareholder ...  negative
4  SSH COMMUNICATIONS SECURITY CORP STOCK EXCHANG...  negative

#### 2. Feature Engineering

In [37]:
def cleaning(df1):
    lowered=df1.lower()    # lowering the sentences 
    removed=re.sub(r'[^a-z]',' ',lowered)  # replacing the non alphabets with space 
    removed = ''.join([i for i in removed if not i.isdigit()]) # remove digits

    # TODO : add way to remove uselss words
    #splitted=removed.split(' ')   # splitting the sentences by spaces
    #df1= [WordNetLemmatizer().lemmatize(word) for word in splitted if word not in stopwords.words('english')]  # lemmatizing and removing stopwords from list
    #df1=' '.join(df1) # joining back the words of list
    return(removed) # returning the cleaned words

In [39]:
data['Sentence']=data['Sentence'].apply(cleaning)
data.head()

                                            Sentence Sentiment
0  according to the finnish russian chamber of co...   neutral
1  the swedish buyout firm has sold its remaining...   neutral
2     spy wouldn t be surprised to see a green close  positive
3  shell s     billion bg deal meets shareholder ...  negative
4  ssh communications security corp stock exchang...  negative

In [40]:
X_train, X_test, y_train, y_test = train_test_split(data["Sentence"].values, data["Sentiment"].values, shuffle=True,test_size=0.1)

In [41]:
# Convert a collection of raw documents to a matrix of TF-IDF features.
# TODO : try different hyperparameters for the function below
tfidf = TfidfVectorizer(strip_accents="ascii", lowercase=True,ngram_range=(1,1),max_features=1000)
tfTrain = tfidf.fit_transform(X_train) 
tfTest = tfidf.transform(X_test)

In [42]:
# some of the words
tfidf.get_feature_names()[:10]

['aapl',
 'ab',
 'able',
 'about',
 'above',
 'ac',
 'according',
 'acquire',
 'acquired',
 'acquisition']

#### 3. Model Building

In [66]:
# Logistic Regressor
# TODO : Try different hyperparameters for model
LR = LogisticRegression(max_iter=200).fit(tfTrain, y_train)

In [67]:
LRpred = LR.predict(tfTest)

In [68]:
# TODO : Try Other models and report score

#### 4. Model Testing

In [69]:
from sklearn.metrics import f1_score

In [76]:
f1score = f1_score(LRpred, y_test, average='weighted')
acc = np.mean(LRpred==y_test)
"The accuracy is {0} and the F1 score is {1}".format(acc, f1score)

'The accuracy is 0.7038724373576309 and the F1 score is 0.7272188811742043'